@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@0;1&family=Martel+Sans&display=swap');
* {
    background-color: #add6d6;
    font-family: 'Martel Sans';
    font-size: 1.2rem;
    color: #003366;
    width: 70%;
    margin: auto;
}

h1 {
    font-family: 'Chau Philomene One';
    font-size: 3rem;
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
    margin: 5%;
    padding: 5%;
    border: solid #ff6f61 0.1rem;
}

form div {
    padding: 2%;
    display: flex;
    flex-direction: column;
}

form input, form textarea {
  border-radius: 0.4rem;
}

#buttonEnviar {
    background-color: #ff6f61;
    font-weight: bold;
    width: 30%;
    padding: 0.4rem;
    margin: 1rem;
    border: none;
    align-self: center;
    border-radius: 1rem;
    cursor: pointer;
}